@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ArticlesOverview>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">@Model.ArticlesTitle</h1>
    </div>
</section>

<section class="content p-5">
    <div class="container">
        @Model.ArticlesBodyText
        <div class="col-md-8 offset-md-2">
            @foreach (ArticleItem item in Model.Children)
            {
                <div class="m-5">
                    <a href="@item.Url">
                        <h3>@item.ArticleTitle</h3>
                    </a>
                    <small class="text-muted">@item.CreateDate.ToShortDateString() | @item.CreatorName</small>
                    <p>
                        @{
                            var excerpt = Html.TruncateByWords(item.ArticleContent, 20);
                        }
                        @excerpt
                    </p>
                    <a class="btn btn-outline-primary btn-sm" href="@item.Url" role="button">Read More</a>
                </div>
            }
        </div>
    </div>
</section>