@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Members>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Umbraco.Core.Services;
@{
    Layout = "master.cshtml";
    var members = Services.MemberService.GetMembersByGroup("Active");
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">@Model.Name</h1>
    </div>
</section>

<section class="content p-5">
    <div class="container">
        <div class="row">
            @foreach (var member in members)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">@member.Name</h5>
                            <p class="card-text">@member.GetValue("address")<br>@member.GetValue("zip") @member.GetValue("city") <br>Email: @member.Email<br></p>

                            @if (member.GetValue("skills") != null)
                            {
                                string[] skills = member.GetValue("skills").ToString().Split(',');
                                string skillString = string.Join(", ", skills.Select(item => item)).Replace("\"", "").TrimStart('[').TrimEnd(']');
                                <p>
                                    <strong>Skills:</strong>
                                    <span>@skillString</span>
                                </p>
                            }
                            <a class="btn btn-outline-primary btn-sm" href="mailto:@member.Email">Send Email</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
